#modal-x {
  transition: background-color 0.3s ease;
}

#modal-x:hover {
  opacity: .5;
  background-color: whitesmoke;
}

#modal-insta {
  transition: background-color 0.3s ease;
}

#modal-insta:hover {
  opacity: .5;
}

#close {
  transition: background-color 0.3s ease;
}

#close:hover {
  opacity: .5;
}
